body{
    background-color: aqua;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#form-container{
  background-color: white;
  text-align: center;
  padding: 70px;
  width: 30%;
  height: 50vh;
  
}
input{
    margin: 15px  20px;
    width: 70%;
    padding: 5px;
    height: 30px;
   

}
input[type ="submit"]{
    width: 50%;
    background-color: aqua;
    border: 0px;
    height: 40px;
}
.error{
    color: red;
    margin: 0px;
}
#userError{
    position: relative;
    right: 76px;
}   
#min{
    position: relative;
    right: 96px;
}
#passError{
    position: relative;
    right: 80px;
}
#enterDig{
    position: relative;
    right: 54px;
}